/* Add here all your css styles (customizations) */
/*format hourselector in createNew*/
.hour, .minute {
	direction: rtl;
}

/*format google map in createNew*/
#map {
	height: 657px;
	width: 707px;
}

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;	
}

.control:focus {
	border-color: #4d90fe;
}

.sky-form .inline-group {
	font-size: 15px;
}

.list-unstyled {
	padding-right: 40px;
	padding-left: 0px;
}

.list-group {
	padding-left: 0px;
}

.nav {
	padding-left: 0px;
}

dd {
	margin-left: 0px;
}

fieldset {
    padding: .35em .625em .75em;
    margin: 20px 0px;
    border: 1px solid #eee;
}

.input-group {
    border-left: solid 1px #eee;
}