<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Edit Activity | Finddy</title>
	 <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/Finddy.bmp">
	<!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/css/style-rtl.css">
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/css/header-default-rtl.css">
    <link rel="stylesheet" href="/css/footer-v1-rtl.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/line-icons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/css/sky-forms-rtl.css">
    <link rel="stylesheet" href="/css/custom-sky-forms-rtl.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="/css/profile-rtl.css">
	 <!-- CSS Page Style -->
    <link rel="stylesheet" href="/css/profile-rtl.css">
	<style type="text/css">
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
#detail-table td {text-align: left; font-weight: bold;}
#detail-table td.title{width: 30%;}
table td {font-weight: bold;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
/* starbox */
.starbox{width:480px;margin:20px ;height:30px;}
.fl{float:left;display:inline;}
.s_name{float:left;display:block;width:60px;text-align:right;}
.star_ul{background:url(/IMG/star.png) no-repeat 0 -150px;width:132px;z-index:10;position:relative;height:25px;}
.star_ul li{float:left;margin-right:1px;width:25px;height:25px;}
.star_ul li a{display:block;height:25px;position:absolute;left:0;top:0;text-indent:-999em;}
.star_ul li .active-star{background:url(/IMG/star.png) no-repeat;}
.star_ul li .one-star{width:25px;background-position:0 -120px;z-index:50;}
.star_ul li .two-star{width:51px;background-position:0 -90px;z-index:40;}
.star_ul li .three-star{width:79px;background-position:0 -60px;z-index:30;}
.star_ul li .four-star{width:105px;background-position:0 -30px;z-index:20;}
.star_ul li .five-star{width:129px;margin-right:0;background-position:0 0;z-index:10;}
.s_result{padding:6px 0 0 5px;}

.square_ul{background:url(/IMG/star.png) no-repeat 0 -222px;width:146px;z-index:10;position:relative;height:20px;}
.square_ul li{float:left;margin-right:1px;width:29px;height:20px;}
.square_ul li a{display:block;height:20px;position:absolute;left:0;top:0;text-indent:-999em;}
.square_ul li .active-square{background:url(/IMG/star.png) no-repeat;}
.square_ul li .square-1{width:29px;background-position:0 -243px;z-index:50;}
.square_ul li .square-2{width:58px;background-position:0 -264px;z-index:40;}
.square_ul li .square-3{width:87px;background-position:0 -285px;z-index:30;}
.square_ul li .square-4{width:116px;background-position:0 -306px;z-index:20;}
.square_ul li .square-5{width:145px;margin-right:0;background-position:0 -327px;z-index:10;}
.s_result_square{padding:4px 0 0 9px;}

</style>
    <!-- Style Switcher -->
    <link rel="stylesheet" href="/css/style-switcher.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="/css/default.css" id="style_color">
    <link rel="stylesheet" href="/css/dark.css">
   	<!-- RTL Customization -->
    <link rel="stylesheet" href="/css/rtl.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/css/custom-rtl.css">
<body ng-app="Finddyapp">
<div class="wrapper"  ng-controller="detailCtrl">
		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="profile.html">
					<img src="/img/finddy_logo.JPG" alt="Logo">
				</a>
				<!-- End Logo -->
				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="mega-menu-fullwidth">
                <a href="/signout">Log out</a>
            </li>
						<li class="mega-menu-fullwidth">
                <a href="/activity/create">Post New Activity</a>
            </li>
            <li>
            		<a href="/profile">Profile</a>
						</li>

						<!-- Search Block -->
						<li>
								<a href="search.html">
									  <i class="search fa fa-search search-btn"></i>
                </a>
            </li>
						<!-- End Search Block -->
					</ul>
				</div><!--/end container-->
			</div><!--/navbar-collapse-->
		</div>
		<!--=== End Header ===-->
		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs breadcrumbs-dark">
			<div class="container">
				<h1 class="pull-left" ng-if="detail.TYPE == 'M'">Movie @ {{detail.START_TIME}}</h1>
				<h1 class="pull-left" ng-if="detail.TYPE == 'D'">Dining @ {{detail.START_TIME}}</h1>
				<h1 class="pull-left" ng-if="detail.TYPE == 'B'">Board Game @ {{detail.START_TIME}}</h1>
			</div>

		</div>
		<!--=== End Breadcrumbs ===-->

		<!--=== Profile ===-->
		<div class="container content profile">
			<!-- Profile Content -->
			<div>
				<div class="profile-body">
					<div class="panel panel-profile">
						<div class="panel-heading overflow-h">
								<h2 class="panel-title heading pull-left">Details</h2>
								<i class="fa fa-cog pull-right"></i>
						</div>
						<div class="panel-body">
							<table class="table" id="detail-table">
								<tr>
									<td class="title">Activity Hoster</td>
									<td><a href="/">{{detail.USERNAME}}</a></td>
								</tr>
								<tr>
									<td class="title">Activity Type</td>
									<td>
										<span ng-if="detail.TYPE == 'M'">Movie</span>
										<span ng-if="detail.TYPE == 'B'">Board Game</span>
										<span ng-if="detail.TYPE == 'B'">Board Game</span>
									</td>
								<tr>
									<td class="title">Description</td>
									<td>{{detail.DESCRIPTION}}</td>
								</tr>
								<tr>
									<td class="title">Start Time</td>
									<td>{{detail.START_TIME}}</td>
								</tr>
								<tr>
									<td class="title">Enroll deadline</td>
									<td>{{detail.EXPIRE_TIME}}</td>
								</tr>
								<tr>
									<td class="title">Location</td>
									<td>{{detail.LOCATION}}</td>
								</tr>
								<tr ng-if="detail.RATING!=0">
									<td class="title">Overall Rating</td>
									<td>{{detail.RATING}}</p></td>
								</tr>
							</table>
						</div>
						<fieldset>
							<div id="map"></div>
						</fieldset>
					</div>
					<div class="panel panel-profile">
						<div class="panel-heading overflow-h">
							<h2 class="panel-title heading-sm pull-left">Joiners</h2>
							<i class="fa fa-group pull-right"></i>
						</div>
						<table class="table" id="joiner-able">
								<tr>
									<td></td>
									<td>Username</td>
									<td>Contact</td>
								</tr>
								<tr ng-repeat="joiner in detail.JOINERS">
									<td>{{$index + 1}}</td>
									<td>{{joiner.USERNAME}}</td>
									<td>{{joiner.PHONE_NO}}</td>
								</tr>
						</table>
					</div>
					<div class="panel panel-profile">
						<div ng-if="actionButton=='available'">
          		<button class="btn-u btn-u-default btn-block" type="button" onclick="#">Join</button>
						</div>
						<div ng-if="actionButton=='joined'">
							<button class="btn-u btn-u-default btn-block" type="button" onclick="#">Quit</button>
						</div>
						<div ng-if="admin=='Y' && actionButton!='creator'">
							<button class="btn-u btn-u-default btn-block" type="button" onclick="#">Delete</button>
						</div>
						<div ng-if="actionButton=='creator'">
							<button class="btn-u btn-u-default btn-block" type="button" ng-click="cancelActivity()">Cancel</button>
							<button class="btn-u btn-u-default btn-block" type="button" ng-click="editActivity()">Edit</button>
						</div>
					</div>
					<div class="panel panel-profile">
						<div class="panel-heading overflow-h">
							<h2 class="panel-title heading-sm pull-left">Activity Comments and Ratings</h2>
							<i class="fa fa-comments pull-right"></i>
						</div>
						<div class="panel-body">
							<div id="commentbox" class="media media-v2 margin-bottom-20">
								<div class="media media-v2" ng-repeat="comment in postedComments">
									<div class="media-body">

										<h4 class="media-heading">
											<strong><a href="#">{{comment.USERNAME}}</a></strong>
											&nbsp;&nbsp;&nbsp;&nbsp;posted at {{comment.CREATE_TIME}}
										</h4>
										<p>{{comment.CONTENT}}</p><br>
										<p ng-if="comment.RATING">Rating:{{comment.RATING}}</p>
									</div>
								</div>

								<div class="media media-v2">
									<div class="media-body">
										<h4 class="media-heading">
											<strong>Post new Comment</strong>
										</h4>
									</div>
									<div>
										<textarea rows="10" cols="100"> </textarea>

									    <div class="starbox">
	<span class="s_name">rating：</span>
	<ul class="star_ul fl">
		<li><a class="one-star" title="1" href="#"></a></li>
		<li><a class="two-star" title="2" href="#"></a></li>
		<li><a class="three-star" title="3" href="#"></a></li>
		<li><a class="four-star" title="4" href="#"></a></li>
		<li><a class="five-star" title="5" href="#"></a></li>
	</ul>
	<span class="s_result fl">Your Rate on This Activity</span>
<div><button class="btn-u btn-u-default btn-block" type="submit" ng-click="#">Submit</button></div>
									</div>
								</div>
							</div>
							<!--/end media media v2-->
						</div>
						<!--End panel body-->

					<!-- End Profile Content -->
			    	</div>
			    	<!-- End Panel -->
				</div>
				<!-- End Profile Body -->
			</div>
			<!-- End col-md 9 -->
		</div>
		<!--=== End Profile Container ===-->
	<!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Finddy 2015 &copy; All Rights Reserved
                        </p >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Footer Version 1 ===-->

</div><!--/wrapper-->


	<!--=== End Style Switcher ===-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="/js/back-to-top.js"></script>
	<script type="text/javascript" src="/js/smoothScroll.js"></script>
	<script type="text/javascript" src="/js/circles.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/datepicker.js"></script>
	<script type="text/javascript" src="/js/circles-master.js"></script>
	<script type="text/javascript" src="/js/style-switcher.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			App.initScrollBar();
			Datepicker.initDatepicker();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>

	<script>
		function reply(){
			var reply=prompt("Write your reply here");
			if (reply != null){
				window.location.href = "editActivity.html";
			}
		}
		function commentrate(){
        	var comment=prompt("Write your comment here");
			if(comment != null){
				window.loaction.href = "editActivity.html";
			}
		}
	</script>
	<script>
		var map;
		function initMap() {
  			map = new google.maps.Map(document.getElementById('map'), {
    			center: {lat: 22.093275, lng: 114.301758},
    			zoom: 8
  			});
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc7Opq0rd8dz3eXKv-vkCcSwEj7l0NV6E&callback=initMap"
        async defer></script>
	<script type="text/javascript" src="http://www.js-css.cn/jscode/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	var flag = 1;

	$('.star_ul a').hover(function(){
		flag = 1;
		$('.star_ul a').removeClass('active-star');
		$(this).addClass('active-star');
		$('.s_result').css('color','#c00').html($(this).attr('title'))
	},function(){
		if( flag == 1){
		$(this).removeClass('active-star');
		$('.s_result').css('color','#333').html('please select')
		}
	});

	$('.star_ul a').click(function(){
		 flag = 2;
		$(this).addClass('active-star');
		$('.s_result').css('color','#c00').html($(this).attr('title'))
		});

	$('.square_ul a').hover(function(){
		flag = 3;
		$('.square_ul a').removeClass('active-square');
		$(this).addClass('active-square');
		$(this).parents('.starbox').find('.s_result_square').css('color','#c00').html($(this).attr('title'))
	},function(){
		if(flag == 3){
		$(this).removeClass('active-square');
		$(this).parents('.starbox').find('.s_result_square').css('color','#333').html('请打分')
	}
	});

	$('.square_ul a').click(function(){
		flag = 4;
		$(this).addClass('active-square');
		$(this).parents('.starbox').find('.s_result_square').css('color','#c00').html($(this).attr('title'))	});
})
</script>
<script>
var app = angular.module('Finddyapp', []);
app.controller('detailCtrl', function($scope, $http, $window) {
	 $scope.detail = <%- detail %>;
	 $scope.actionButton = '<%- actionButton %>';

	 $http({
			url: '/activity/api/getComments',
			params: { activity_id: $scope.detail.AID },
			type: 'GET'
		}).then(function(result) {
			$scope.postedComments = JSON.parse(result.data[0]);
		});
});
</script>

</body>
</html>
