<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Table Search | Unify - Responsive Website Template</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="../../follow_git/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../follow_git/public/css/style-rtl.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="../../follow_git/public/css/header-default.css">
	<link rel="stylesheet" href="../../follow_git/public/css/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="../../follow_git/public/css/animate.css">
	<link rel="stylesheet" href="../../follow_git/public/css/line-icons.css">
	<link rel="stylesheet" href="../../follow_git/public/css/font-awesome.min.css">

	<!-- CSS Page Style -->
	<link rel="stylesheet" href="../../follow_git/public/css/page_search_inner_tables.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="../../follow_git/public/css/default.css" id="style_color">
	<link rel="stylesheet" href="../../follow_git/public/css/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="../../follow_git/public/css/custom.css">
</head>

<body>
	<div class="wrapper">
		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="profile.html">
					<img src="../../follow_git/public/img/finddy_logo.jpg" alt="Logo">
				</a>
				<!-- End Logo -->

				<!-- Topbar -->
				<div class="topbar">
					<ul class="loginbar pull-right">
						
						<li class="topbar-devider"></li>
						<li><a href="login.html">Login</a></li>
					</ul>
				</div>
				<!-- End Topbar -->

				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
					<ul class="nav navbar-nav">
						<!-- Home -->
						<li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href='createNew.html';">
                            Post New Activity
                        </a>
                    </li>
                    <!-- End Shortcodes -->

                    <!-- Misc Pages -->
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href='profile.html';">
                            Return to Profile
                        </a>
        
                    </li>               
</div></div>
						<!-- Search Block -->
						<li>
							<i class="search fa fa-search search-btn" onclick="window.location.href='search.html';"></i>
							
						</li>
						<!-- End Search Block -->
					</ul>
				</div><!--/end container-->
			</div><!--/navbar-collapse-->
		</div>
		<!--=== End Header ===-->

		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs breadcrumbs-dark">
			<div class="container">
				<h1 class="pull-left">Contact List</h1>
				<ul class="pull-right breadcrumb">
					
					<li class="active">Contact List</li>
				</ul>
			</div>
		</div>
		<!--=== End Breadcrumbs ===-->


		<div class="container content-sm">
			
			<!-- Begin Table Search v2 -->
			<div class="table-search-v2 margin-bottom-30">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>User Name</th>
								<th>List</th>
								<th class="hidden-sm">About</th>
								
								<th>Contacts</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="user-names">
										<span>Grayson Royson</span>
										
									</div>
								</td>
								<td>
                                 <p id="demo6"></p> 
								 <p id="demo7"></p>
								</td>
								<td class="td-width">
									<h3><a href="#">Sed nec elit arcu</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id commodo lacus. Fusce non malesuada ante. Donec vel arcu.</p>
									<small class="hex">Joined February 28, 2014</small>
								</td>
								
								<td>
									<ul class="list-inline s-icons">
										<li>
											<a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook" href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										
									</ul>
									<span><a href="#">info@example.com</a></span>
									<span><a href="#">www.finddy.com</a></span>
								</td>
								<td>
									<ul class="list-inline table-buttons">
										<li><button type="button" class="btn-u btn-u-sm btn-u-dark" onclick="blackList()"><i class="fa fa-trash-o"></i></button></li>
										<li><button type="button" class="btn-u btn-u-sm btn-u-dark" onclick="whiteList()"><i class="fa fa-edit"></i></button></li>
										
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<div class="user-names">
										<span>Nia Dulce</span>
										
									</div>
								</td>
								<td></td>
								<td>
									<h3><a href="#">Donec at aliquam est, a mattis mauris</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id commodo lacus. Fusce non malesuada ante. Donec vel arcu.</p>
									<small class="hex">Joined March 2, 2014</small>
								</td>
								
								<td>
									<ul class="list-inline s-icons">
										<li>
											<a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook" href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										
									</ul>
									<span><a href="#">info@example.com</a></span>
									<span><a href="#">www.finddy.com</a></span>
								</td>
								<td>
									<ul class="list-inline table-buttons">
										<li><button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-trash-o"></i></button></li>
										<li><button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-edit"></i></button></li>
										
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<div class="user-names">
										<span>Keaten Joel</span>
										
									</div>
								</td>
								<td></td>
								<td>
									<h3><a href="#">Pellentesque semper tempus vehicula</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id commodo lacus. Fusce non malesuada ante. Donec vel arcu.</p>
									<small class="hex">Joined March 3, 2014</small>
								</td>
								
								<td>
									<ul class="list-inline s-icons">
										<li>
											<a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook" href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										
									</ul>
									<span><a href="#">info@example.com</a></span>
									<span><a href="#">www.finddy.com</a></span>
								</td>
								<td>
									<ul class="list-inline table-buttons">
										<li><button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-trash-o"></i></button></li>
										<li><button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-edit"></i></button></li>
										
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<div class="user-names">
										<span>Kira Zoey</span>
										
									</div>
								</td>
								<td></td>
								<td>
									<h3><a href="#">Alesuada fames ac turpis egestas</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id commodo lacus. Fusce non malesuada ante. Donec vel arcu.</p>
									<small class="hex">Joined March 4, 2014</small>
								</td>
								
								<td>
									<ul class="list-inline s-icons">
										<li>
											<a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook" href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										
									</ul>
									<span><a href="#">info@example.com</a></span>
									<span><a href="#">www.finddy.com</a></span>
								</td>
								<td>
									<ul class="list-inline table-buttons">
										<li><button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-trash-o"></i></button></li>
										<li><button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-edit"></i></button></li>
										
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<div class="user-names">
										<span>Taylor Grasler</span>
										
									</div>
								</td>
								<td></td>
								<td>
									<h3><a href="#">Etiam bibendum orci ut ante sagittis, sit amet imperdiet augue vulputate</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id commodo lacus. Fusce non malesuada ante. Donec vel arcu.</p>
									<small class="hex">Joined March 5, 2014</small>
								</td>
								
								<td>
									<ul class="list-inline s-icons">
										<li>
											<a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook" href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										
									</ul>
									<span><a href="#">info@example.com</a></span>
									<span><a href="#">www.finddy.com</a></span>
								</td>
								<td>
									<ul class="list-inline table-buttons">
										<li><button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-trash-o"></i></button></li>
										<li><button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-edit"></i></button></li>
										
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- End Table Search v2 -->

			
			
		</div>

		
	</div><!--/End Wrapepr-->


	<!--=== End Style Switcher ===-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="../../follow_git/public/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="../../follow_git/public/js/back-to-top.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/smoothScroll.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="../../follow_git/public/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="../../follow_git/public/js/app.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/style-switcher.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
	<script>
		function blackList(){
			var black;
			black="black";
			document.getElementById("demo6").innerHTML=black;
		}
		</script>
	<script>
		function whiteList(){
			var white;
			white="white";
			document.getElementById("demo7").innerHTML=white;
		}
		</script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
</body>
</html>
