<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <!--<![endif]-->
<head>
    <title>Create Activity | Finddy</title>
</head>

<body>
<div class="container">
  <form method="post">
    <input type="radio" name="type" value="D" checked>Dining
    <input type="radio" name="type" value="M" >Movie
    <input type="radio" name="type" value="B" >Board Game
    <br>
    Description<input type="text" name="description" placeholder="Description"><br>
    LOCATION<input type="text" name="location" ><br>
    START_TIME<input type="text" name="start_time"><br>
    QUOTA<input type="text" name="quota"><br>
    EXPIRE_TIME<input type="text" name="expire_time"><br>
    <input type="submit">
  </form>
</div>
</body>
</html>
