<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Edit Activity | Finddy</title>

	 <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../public/img/Finddy.bmp">
	<!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../follow_git/public/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="../../follow_git/public/css/style-rtl.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="../../follow_git/public/css/header-default-rtl.css">
    <link rel="stylesheet" href="../../follow_git/public/css/footer-v1-rtl.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../follow_git/public/css/animate.css">
    <link rel="stylesheet" href="../../follow_git/public/css/line-icons.css">
    <link rel="stylesheet" href="../../follow_git/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../follow_git/public/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="../../follow_git/public/css/sky-forms-rtl.css">
    <link rel="stylesheet" href="../../follow_git/public/css/custom-sky-forms-rtl.css">
	

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="../../follow_git/public/css/profile-rtl.css">
	    <!-- CSS Page Style -->
    <link rel="stylesheet" href="../../follow_git/public/css/profile-rtl.css">
	<style type="text/css">
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
/* starbox */
.starbox{width:480px;margin:20px auto;height:30px;}
.fl{float:left;display:inline;}
.s_name{float:left;display:block;width:60px;text-align:right;}
.star_ul{background:url(../../follow_git/public/IMG/star.png) no-repeat 0 -150px;width:132px;z-index:10;position:relative;height:25px;}
.star_ul li{float:left;margin-right:1px;width:25px;height:25px;}
.star_ul li a{display:block;height:25px;position:absolute;left:0;top:0;text-indent:-999em;}
.star_ul li .active-star{background:url(../../follow_git/public/IMG/star.png) no-repeat;}
.star_ul li .one-star{width:25px;background-position:0 -120px;z-index:50;}
.star_ul li .two-star{width:51px;background-position:0 -90px;z-index:40;}
.star_ul li .three-star{width:79px;background-position:0 -60px;z-index:30;}
.star_ul li .four-star{width:105px;background-position:0 -30px;z-index:20;}
.star_ul li .five-star{width:129px;margin-right:0;background-position:0 0;z-index:10;}
.s_result{padding:6px 0 0 5px;}

.square_ul{background:url(../../follow_git/public/IMG/star.png) no-repeat 0 -222px;width:146px;z-index:10;position:relative;height:20px;}
.square_ul li{float:left;margin-right:1px;width:29px;height:20px;}
.square_ul li a{display:block;height:20px;position:absolute;left:0;top:0;text-indent:-999em;}
.square_ul li .active-square{background:url(../../follow_git/public/IMG/star.png) no-repeat;}
.square_ul li .square-1{width:29px;background-position:0 -243px;z-index:50;}
.square_ul li .square-2{width:58px;background-position:0 -264px;z-index:40;}
.square_ul li .square-3{width:87px;background-position:0 -285px;z-index:30;}
.square_ul li .square-4{width:116px;background-position:0 -306px;z-index:20;}
.square_ul li .square-5{width:145px;margin-right:0;background-position:0 -327px;z-index:10;}
.s_result_square{padding:4px 0 0 9px;}
</style>

    <!-- Style Switcher -->
    <link rel="stylesheet" href="../../follow_git/public/css/style-switcher.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="../../follow_git/public/css/default.css" id="style_color">
    <link rel="stylesheet" href="../../follow_git/public/css/dark.css">

    <!-- RTL Customization -->
    <link rel="stylesheet" href="../../follow_git/public/css/rtl.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../follow_git/public/css/custom-rtl.css">
</head>

<body>
	<div class="wrapper">
		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="profile.html">
					<img src="../../follow_git/public/img/finddy_logo.JPG" alt="Logo">
				</a>
				<!-- End Logo -->

				<!-- Topbar -->
				<div class="topbar">
					<ul class="loginbar pull-right">
						<li><a href="login.html">Log out</a></li>
					</ul>
				</div>
				<!-- End Topbar -->

				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
					<ul class="nav navbar-nav">
					

						<li class="mega-menu-fullwidth">
                        <a href="javascript:void(0);" onclick="window.location.href='createNew.html';">
                            Post New Activity
                        </a>
                    </li>
                    <!-- End Shortcodes -->

                    <!-- Misc Pages -->
                    <li>
                        <a href="javascript:void(0);" onclick="window.location.href='profile.html';">
                            Return to Profile
                        </a>
        
                    </li>               

						<!-- Search Block -->
						<li>
                            <a href="search.html">
                                <i class="search fa fa-search search-btn"></i>
                            </a>
                        </li>
						<!-- End Search Block -->
					</ul>
				</div><!--/end container-->
			</div><!--/navbar-collapse-->
		</div>
		<!--=== End Header ===-->
		
		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs breadcrumbs-dark">
			<div class="container">
				<h1 class="pull-left">MedCan 17:30 Today</h1>
			</div>
		</div>
		<!--=== End Breadcrumbs ===-->
		
		<!--=== Profile ===-->
		<div class="container content profile">
			<!-- Profile Content -->
			<div>
				<div class="profile-body">
					<div class="panel panel-profile">
						<div class="panel-heading overflow-h">
							<h2 class="panel-title heading-sm pull-left">Description</h2>								
							<i class="fa fa-cog pull-right"></i>
						</div>
						<div class="panel-body">
							<h4 id="demo">Original Activity Description</h4>
						</div>
					<button class="btn-u btn-u-default btn-block" type="nutton" onclick = "myFunction()">Edit Description</button>
				 	</div>
                     
					<div class="panel panel-profile">
						<div class="panel-heading overflow-h">
							<h2 class="panel-title heading-sm pull-left">Joiners</h2>								
							<i class="fa fa-group pull-right"></i>
						</div>
					<form>
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th>Username</th>
									<th>Contact</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Mark</td> 
									<td>1234-5678</td>
                                    <td><i class="fa fa-check"></i> Enrolled</td>
                                    </td>
								</tr>
								<tr>
									<td>2</td>
									<td>Jacob</td>
									<td>9876-5432</td>
									<td><i class="fa fa-check"></i> Enrolled</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Larry</td>
									<td>1357-2468</td>
									<td><i class="fa fa-check"></i> Enrolled</td>
								</tr>
								<tr>
									<td>4</td>
									<td>htmlstream</td>
									<td>2468-1357</td>
									<td><i class="fa fa-check"></i> Enrolled</td>
								</tr>
							</tbody>
						</table>
                        
					</form>
					</div>
					<div class="panel panel-profile">
						<div class="panel-heading overflow-h">
							<h2 class="panel-title heading-sm pull-left">Activity Comments and Ratings</h2>
							<a href="#"><i class="fa fa-comments pull-right"></i></a>
						</div>
						<div class="panel-body">								<div id="commentbox" class="media media-v2 margin-bottom-20">
								<div class="media media-v2">
									<div class="media-body">
										
										<h4 class="media-heading">
											<strong><a href="#">Lee Parker</a></strong> @LeePark		
										</h4>
										<button class="btn-xs reply" type="button" onclick = "reply()">Reply</button>
										<p>Interesting</p>
										
                          <div class="starbox">
	<span class="s_name">overall rating：</span>
	<ul class="star_ul fl">
		<li><a class="one-star" title="1" href="#"></a></li>
		<li><a class="two-star" title="2" href="#"></a></li>
		<li><a class="three-star" title="3" href="#"></a></li>
		<li><a class="four-star" title="4" href="#"></a></li>
		<li><a class="five-star" title="5" href="#"></a></li>
	</ul>
	<span class="s_result fl">Your Rate on This Activity</span>
</div>
									</div>
								</div>
								<div class="media media-v2">
									<div class="media-body">
										<h4 class="media-heading">
											<strong><a href="#">Lee Parker</a></strong> @LeePark		
										</h4>
										<button class="btn-xs reply" type="button" onclick = "reply()">Reply</button>
										<p>Interesting</p>
									</div>
								</div>
								<div class="media media-v2">
									<div class="media-body">
										<h4 class="media-heading">
											<strong><a href="#">Lee Parker</a></strong> @LeePark		
										</h4>
										
										<textarea rows="10" cols="60">
                                           
                                       </textarea>
									   <button class="btn-xs reply" type="button" onclick ="#">Submit</button>
									</div>
								</div>	
							</div>
							<!--/end commentbox-->      
						</div>
						<!--End panel body-->
						
					<!-- End Profile Content -->
			    	</div>
				</div>
				<!-- End Profile-body-->
			</div> 
			<!-- End Profile content--> 
		</div>
		<!-- ===End Profile===-->
	<!--=== Footer Version 1 ===-->
    <div class="footer-v1">
       	<div class="copyright">
           	<div class="container">
               	<div class="row">
                   	<div class="col-md-6">                     
                       	<p>
                           	Finddy 2015 &copy; All Rights Reserved
                       	</p>
                   	</div>
	            </div>
    	    </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===--> 
</div><!--/wrapper-->

	
	<!--=== End Style Switcher ===-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="../../follow_git/public/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="../../follow_git/public/js/back-to-top.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/smoothScroll.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/circles.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/jquery.mCustomScrollbar.concat.min.js"></script>
	
	<!-- JS Customization -->
	<script type="text/javascript" src="../../follow_git/public/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="../../follow_git/public/js/app.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/datepicker.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/circles-master.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/style-switcher-rtl.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			App.initScrollBar();
			Datepicker.initDatepicker();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
	<script>
		
		function myFunction(){
			var x;
			var description=prompt("Description:","Write your discription");
			if (description!=null){
	    		x=description; 
	    		document.getElementById("demo").innerHTML=x;
			}
		}
		function reply(){
			var reply=prompt("Write your reply here");
			if (reply != null){
				window.location.href = "editActivity.html";
			}
		}
	</script>
	<script>
		function commentrate(){
        	var comment=prompt("Write your comment here");
			if(comment != null){
				window.loaction.href = "editActivity.html";
			}
		}
	</script>

	<script type="text/javascript" src="http://www.js-css.cn/jscode/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	var flag = 1;
	
	$('.star_ul a').hover(function(){
		flag = 1;
		$('.star_ul a').removeClass('active-star');
		$(this).addClass('active-star');
		$('.s_result').css('color','#c00').html($(this).attr('title'))
	},function(){
		if( flag == 1){
		$(this).removeClass('active-star');
		$('.s_result').css('color','#333').html('please select')
		}
	});
	
	$('.star_ul a').click(function(){
		 flag = 2;
		$(this).addClass('active-star');
		$('.s_result').css('color','#c00').html($(this).attr('title'))
		});
	
	$('.square_ul a').hover(function(){
		flag = 3;
		$('.square_ul a').removeClass('active-square');
		$(this).addClass('active-square');
		$(this).parents('.starbox').find('.s_result_square').css('color','#c00').html($(this).attr('title'))
	},function(){
		if(flag == 3){
		$(this).removeClass('active-square');
		$(this).parents('.starbox').find('.s_result_square').css('color','#333').html('请打分')
	}
	});
	
	$('.square_ul a').click(function(){
		flag = 4;
		$(this).addClass('active-square');
		$(this).parents('.starbox').find('.s_result_square').css('color','#c00').html($(this).attr('title'))	});
})
</script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
</body>
</html>