<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>EditActivity | Finddy</title>

	 <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../follow_git/public/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="../../follow_git/public/css/style-rtl.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="../../follow_git/public/css/header-default-rtl.css">
    <link rel="stylesheet" href="../../follow_git/public/css/footer-v1-rtl.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../follow_git/public/css/animate.css">
    <link rel="stylesheet" href="../../follow_git/public/css/line-icons.css">
    <link rel="stylesheet" href="../../follow_git/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../follow_git/public/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="../../follow_git/public/css/sky-forms-rtl.css">
    <link rel="stylesheet" href="../../follow_git/public/css/custom-sky-forms-rtl.css">
	

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="../../follow_git/public/css/profile-rtl.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="../../follow_git/public/css/style-switcher.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="../../follow_git/public/css/default.css" id="style_color">
    <link rel="stylesheet" href="../../follow_git/public/css/dark.css">

    <!-- RTL Customization -->
    <link rel="stylesheet" href="../../follow_git/public/css/rtl.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../follow_git/public/css/custom-rtl.css">
</head>

<body>
	<div class="wrapper">
		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="profile.html">
					<img src="../../follow_git/public/img/finddy_logo.JPG" alt="Logo">
				</a>
				<!-- End Logo -->

				<!-- Topbar -->
				<div class="topbar">
					<ul class="loginbar pull-right">
						
						
						<li class="topbar-devider"></li>
						<li><a href="login.html">Login/Sign Up</a></li>
					</ul>
				</div>
				<!-- End Topbar -->

				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
					<ul class="nav navbar-nav">
					

						<li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href='createNew.html';">
                            Post New Activity
                        </a>
                    </li>
                    <!-- End Shortcodes -->

                    <!-- Misc Pages -->
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href='profile.html';">
                            Return to Profile
                        </a>
        
                    </li>               

						<!-- Search Block -->
						<li>
							<i class="search fa fa-search search-btn" onclick="window.location.href='search.html';"></i>
							
						</li>
						<!-- End Search Block -->
					</ul>
				</div><!--/end container-->
			</div><!--/navbar-collapse-->
		</div>
		<!--=== End Header ===-->
<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs breadcrumbs-dark">
			<div class="container">
				<h1 class="pull-left">MedCan 17:30 Today</h1>
			</div>
		</div>
		<!--=== End Breadcrumbs ===-->
		<!--=== Profile ===-->
		<div class="container content profile">
			<div class="row">
			
					<hr>
             <div class="col-md-3 md-margin-bottom-40">
					 <!--Notification-->
                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark">
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 1</strong> has been updated</span>
                            <small>Two minutes ago</small>
                        </div>    
                    </li>
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 2</strong> has been updated</span>
                            <small>Today 18:25 pm</small>
                        </div>    
                    </li>
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 3</strong> has been updated</span>
                            <small>Yesterday 1:07 pm</small>
                        </div>    
                    </li>
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 4</strong> has been updated</span>
                            <small>23/12 11:01 am</small>
                        </div>    
                    </li>
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 5</strong> has been updated</span>
                            <small>Yesterday 1:07 pm</small>
                        </div>    
                    </li>
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 6</strong> has been updated</span>
                            <small>23/12 15:15 pm</small>
                        </div>    
                    </li>
                </ul>    
                <button type="button" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>
                <!--End Notification-->
                   <div class="margin-bottom-50"></div>
				  <!--Datepicker-->
                <form action="#" id="sky-form2" class="sky-form">
                    <div id="inline-start"></div>
                </form> 
                <!--End Datepicker-->
					<div class="margin-bottom-50"></div>

					<!--Datepicker-->
					
					<!--End Datepicker-->
				</div>
				<!--End Left Sidebar-->

				<!-- Profile Content -->
				<div class="col-md-9">
					<div class="profile-body">
						<div class="panel panel-profile">
						<div class="panel-heading overflow-h">
								<h2 class="panel-title heading-sm pull-left">Description</h2>
								<a href="#"><i class="fa fa-cog pull-right"></i></a>
							</div>
		<img class="img-responsive profile-img margin-bottom-20">
  <div class="panel-body">
				<button class="btn-u" onclick="myFunction()" >Edit Description</button>
                      
						<li>
							<ul>
								<p id="demo"></p>
							
							</ul>
                      
						</li>
					<button class="btn-u" onclick="myFunction()" >Rating</button>
                      
						<li>
							<ul>
								<p id="demo3"></p>
							
							</ul>
                      
						</li>
				
				</ul></div></div>
                        
<form>
					<table class="table"><head>Joiners</head>
								<thead>
									<tr>
										<th></th>
										<th>First Name</th>
										<th class="hidden-sm">Last Name</th>
										<th>Username</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Mark</td> 
										<td class="hidden-sm">Otto</td>
										<td>@mdo</td>
                                        <td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
                                    </td>
									</tr>
									<tr>
										<td>2</td>
										<td>Jacob</td>
										<td class="hidden-sm">Thornton</td>
										<td>@fat</td>
										<td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
									</tr>
									<tr>
										<td>3</td>
										<td>Larry</td>
										<td class="hidden-sm">the Bird</td>
										<td>@twitter</td>
										<td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
									</tr>
									<tr>
										<td>4</td>
										<td>htmlstream</td>
										<td class="hidden-sm">Web Design</td>
										<td>@htmlstream</td>
										<td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
									</tr>
								</tbody>
							</table>
                            <foot><button class="btn-u" type="button" onclick = "window.location.href='editActivity.html';">Drop the activity</button></foot>
</form>
						<div class="panel panel-profile">
							<div class="panel-heading overflow-h">
								<h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments"></i>Activity Comments and Ratings</h2>
								<a href="#"><i class="fa fa-cog pull-right"></i></a>
							</div>
							<div class="panel-body">
								<div class="media media-v2 margin-bottom-20">
									<a class="pull-left" href="#">
										<img class="media-object rounded-x" src="../../follow_git/public/img/img6.jpg" alt="">
									</a>
									<div class="media-body">
										<h4 class="media-heading">
											<strong><a href="#">Lee Parker</a></strong> @LeePark
											
										</h4>
										<ul>
										<p> Intersting</p>
										</ul>
										<ul class="list-inline results-list pull-left">
											<li><a href="#">7 Likes</a></li>
											<li><a href="#">2 Share</a></li>
										</ul>
										<ul class="list-inline pull-right">
											<li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
											<li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
											<li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
										</ul>

										<div class="clearfix"></div>

										<div class="media media-v2">
											<a class="pull-left" href="#">
												<img class="media-object rounded-x" src="../../follow_git/public/img/img7.jpg" alt="">
											</a>
											<div class="media-body">
												<h4 class="media-heading">
													<strong><a href="#">Edward Rooster</a></strong> @EdwardRooster
													
												</h4>
                                             <ul>
												<p id="demo2"></p>
                                             </ul>
												<ul class="list-inline results-list pull-left">
													<li><a href="#">0 Likes</a></li>
													<li><a href="#">0 Share</a></li>
												</ul>
												<ul class="list-inline pull-right">
													<li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
													<li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
													<li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
												</ul>

												<div class="clearfix"></div>

												<div class="media media-v2">
													<a class="pull-left" href="#">
														<img class="media-object rounded-x" src="../../follow_git/public/img/img6.jpg" alt="">
													</a>
													<div class="media-body">
														<h4 class="media-heading">
															<strong><a href="#">Lee Parker</a></strong> @LeePark
															
														</h4>
														<p></p>
														<ul class="list-inline results-list pull-left">
															<li><a href="#">0 Likes</a></li>
															<li><a href="#">0 Share</a></li>
														</ul>
														<ul class="list-inline pull-right">
															<li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
															<li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
															<li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!--/end media media v2-->
                                <!-- Large modal -->
							<button class="btn-u btn-u-default btn-block" onclick="commentrate()" data-toggle="modal" data-target=".bs-example-modal-lg">Comment</button>

							
							
							<!-- Large modal -->
								
							</div>
						</div>
					</div>
				</div>
				<!-- End Profile Content -->
			</div>
		</div>
		<!--=== End Profile ===-->
  
		<!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            Finddy 2015 &copy; All Rights Reserved
                        </p >
                    </div>
                </div>
            </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->

	
	<!--=== End Style Switcher ===-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="../../follow_git/public/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="../../follow_git/public/js/back-to-top.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/smoothScroll.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/circles.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/jquery.mCustomScrollbar.concat.min.js"></script>
	
	<!-- JS Customization -->
	<script type="text/javascript" src="../../follow_git/public/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="../../follow_git/public/js/app.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/datepicker.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/circles-master.js"></script>
	<script type="text/javascript" src="../../follow_git/public/js/style-switcher-rtl.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			App.initScrollBar();
			Datepicker.initDatepicker();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
	<script>
		
function myFunction(){
	var x;
	var description=prompt("Description:","Write your discription");
	if (description!=null){
	    x="Description: " + description 
	    document.getElementById("demo").innerHTML=x;
	}
}
</script>
<script>
	function commentrate(){
		var y;
        var comment=prompt("Write your comment here")
		if(comment!=null){
		y=comment
		document.getElementById("demo2").innerHTML=y;
	}
	}
</script>
<script>
	
	</script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
</body>
</html>
