<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Activity | Unify - Responsive Website Template</title>

	 <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="css/style-rtl.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="css/header-default-rtl.css">
    <link rel="stylesheet" href="css/footer-v1-rtl.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/line-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/sky-forms-rtl.css">
    <link rel="stylesheet" href="css/custom-sky-forms-rtl.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="css/profile-rtl.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="css/style-switcher.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="css/default.css" id="style_color">
    <link rel="stylesheet" href="css/dark.css">

    <!-- RTL Customization -->
    <link rel="stylesheet" href="css/rtl.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="css/custom-rtl.css">
</head>

<body>
	<div class="wrapper">
		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="profile.html">
					<img src="img/finddy_logo.JPG" alt="Logo">
				</a>
				<!-- End Logo -->

				<!-- Topbar -->
				<div class="topbar">
					<ul class="loginbar pull-right">
						
						
						<li class="topbar-devider"></li>
						<li><a href="login.html">Login</a></li>
					</ul>
				</div>
				<!-- End Topbar -->

				<!-- Toggle get grouped for better mobile display -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<!-- End Toggle -->
			</div><!--/end container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
				<div class="container">
					<ul class="nav navbar-nav">
					

						<li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href='createNew.html';">
                            Post New Activity
                        </a>
                    </li>
                    <!-- End Shortcodes -->

                    <!-- Misc Pages -->
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href='profile.html';">
                            Return to Profile
                        </a>
        
                    </li>               

						<!-- Search Block -->
						<li>
							<i class="search fa fa-search search-btn"></i>
							<div class="search-open">
								<div class="input-group animated fadeInDown">
									<input type="text" class="form-control" placeholder="Search">
									<span class="input-group-btn">
										<button class="btn-u" type="button">Go</button>
									</span>
								</div>
							</div>
						</li>
						<!-- End Search Block -->
					</ul>
				</div><!--/end container-->
			</div><!--/navbar-collapse-->
		</div>
		<!--=== End Header ===-->
<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs breadcrumbs-dark">
			<div class="container">
				<h1 class="pull-left">MedCan 17:30 Today</h1>
			</div>
		</div>
		<!--=== End Breadcrumbs ===-->
		<!--=== Profile ===-->
		<div class="container content profile">
			<div class="row">
				<!--Left Sidebar-->
				<div class="col-md-3 md-margin-bottom-40">
					<img class="img-responsive profile-img margin-bottom-20" src="img/img32-md.jpg" alt="">

					

					<ul class="list-inline down-ul">
					<!-- Small modal -->
						<li>	<button class="icon-custom icon-sm icon-color-u fa fa-pencil" data-toggle="modal" data-target=".bs-example-modal-sm"></button>

							<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header">
											<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
											<h4 id="myLargeModalLabel3" class="modal-title">Description</h4>
										</div>
										<div class="modal-body">
											 <!-- Order Form -->
                <form action="../assets/php/demo-order.php" method="post" enctype="multipart/form-data" id="sky-form1" class="sky-form">
                  
                    <fieldset>
                        
                        
                    
                        
                        <section>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="5" name="comment" placeholder="Tell us about your activity"></textarea>
                            </label>
                        </section>                  
                    </fieldset>
                    
                </form>         
                <!-- End Order Form -->
										</div>
                                        <div class="modal-footer">
											<button data-dismiss="modal" class="btn-u btn-u-default" type="button">Close</button>
											<button class="btn-u" type="button" onclick = "window.location.href='activityDetail.html';">Save changes</button>
										</div>
									</div>
								</div>
							</div></li>
							<!-- End Small Modal -->
<li>Description:
							5 people, Medcan, 3-22nd 17:30
						</li>
					<li>
						<ul class="list-inline star-vote">
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star"></i></li>
							<li><i class="color-green fa fa-star-half-o"></i></li>
						</ul>
					</li>
					<li>- By Joiners</li>
				</ul>
					<hr>

					 <!--Notification-->
                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark">
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 1</strong> has been updated</span>
                            <small>Two minutes ago</small>
                        </div>    
                    </li>
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 2</strong> has been updated</span>
                            <small>Today 18:25 pm</small>
                        </div>    
                    </li>
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 3</strong> has been updated</span>
                            <small>Yesterday 1:07 pm</small>
                        </div>    
                    </li>
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 4</strong> has been updated</span>
                            <small>23/12 11:01 am</small>
                        </div>    
                    </li>
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 5</strong> has been updated</span>
                            <small>Yesterday 1:07 pm</small>
                        </div>    
                    </li>
                    <li class="notification">
                        <div class="overflow-h">
                            <span><strong>Activity Title 6</strong> has been updated</span>
                            <small>23/12 15:15 pm</small>
                        </div>    
                    </li>
                </ul>    
                <button type="button" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>
                <!--End Notification-->

					<div class="margin-bottom-50"></div>

					<!--Datepicker-->
					
					<!--End Datepicker-->
				</div>
				<!--End Left Sidebar-->

				<!-- Profile Content -->
				<div class="col-md-9">
					<div class="profile-body">
                        
<form>
					<table class="table"><head>Joiners</head>
								<thead>
									<tr>
										<th>#</th>
										<th>First Name</th>
										<th class="hidden-sm">Last Name</th>
										<th>Username</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Mark</td> 
										<td class="hidden-sm">Otto</td>
										<td>@mdo</td>
                                        <td><label class="toggle state-success"><input type="checkbox" name="checkbox-toggle"><i class="rounded-4x"></i></label>
                                    </td>
									</tr>
									<tr>
										<td>2</td>
										<td>Jacob</td>
										<td class="hidden-sm">Thornton</td>
										<td>@fat</td>
										<td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
									</tr>
									<tr>
										<td>3</td>
										<td>Larry</td>
										<td class="hidden-sm">the Bird</td>
										<td>@twitter</td>
										<td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
									</tr>
									<tr>
										<td>4</td>
										<td>htmlstream</td>
										<td class="hidden-sm">Web Design</td>
										<td>@htmlstream</td>
										<td><button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Submit</button></td>
									</tr>
								</tbody>
							</table>
                            <foot><button class="btn-u" type="button" onclick = "window.location.href='editActivity.html';">Drop the activity</button></foot>
</form>
						<div class="panel panel-profile">
							<div class="panel-heading overflow-h">
								<h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments"></i>Activity Comments and Ratings</h2>
								<a href="#"><i class="fa fa-cog pull-right"></i></a>
							</div>
							<div class="panel-body">
								<div class="media media-v2 margin-bottom-20">
									<a class="pull-left" href="#">
										<img class="media-object rounded-x" src="img/img6.jpg" alt="">
									</a>
									<div class="media-body">
										<h4 class="media-heading">
											<strong><a href="#">Lee Parker</a></strong> @LeePark
											<small>12 hours ago</small>
										</h4>
										<p>Pellentesque scelerisque vitae mi quis sollicitudin. Sed pellentesque nulla eleifend hendrerit rhoncus. Aenean rhoncus imperdiet pretium. Nunc vitae egestas eros, vel fringilla arcu. Duis vel libero sit amet metus faucibus venenatis in sit amet nisl. Fusce imperdiet enim risus. Cras orci velit, tempor dignissim ante eget, rhoncus hendrerit nisi. </p>
										<ul class="list-inline img-uploaded">
											<li><img class="img-responsive" src="img/img12.jpg" alt=""></li>
											<li><img class="img-responsive" src="img/img3.jpg" alt=""></li>
											<li><img class="img-responsive" src="img/img16.jpg" alt=""></li>
										</ul>
										<ul class="list-inline results-list pull-left">
											<li><a href="#">7 Likes</a></li>
											<li><a href="#">2 Share</a></li>
										</ul>
										<ul class="list-inline pull-right">
											<li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
											<li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
											<li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
										</ul>

										<div class="clearfix"></div>

										<div class="media media-v2">
											<a class="pull-left" href="#">
												<img class="media-object rounded-x" src="img/img7.jpg" alt="">
											</a>
											<div class="media-body">
												<h4 class="media-heading">
													<strong><a href="#">Edward Rooster</a></strong> @EdwardRooster
													<small>7 hours ago</small>
												</h4>
												<p>How was trip?</p>
												<ul class="list-inline results-list pull-left">
													<li><a href="#">0 Likes</a></li>
													<li><a href="#">0 Share</a></li>
												</ul>
												<ul class="list-inline pull-right">
													<li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
													<li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
													<li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
												</ul>

												<div class="clearfix"></div>

												<div class="media media-v2">
													<a class="pull-left" href="#">
														<img class="media-object rounded-x" src="img/img6.jpg" alt="">
													</a>
													<div class="media-body">
														<h4 class="media-heading">
															<strong><a href="#">Lee Parker</a></strong> @LeePark
															<small>9 hours ago</small>
														</h4>
														<p>Amazing!</p>
														<ul class="list-inline results-list pull-left">
															<li><a href="#">0 Likes</a></li>
															<li><a href="#">0 Share</a></li>
														</ul>
														<ul class="list-inline pull-right">
															<li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
															<li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
															<li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!--/end media media v2-->
                                <!-- Large modal -->
							<button class="btn-u btn-u-default btn-block" data-toggle="modal" data-target=".bs-example-modal-lg">Comment and Rate</button>

							<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
											<h4 id="myLargeModalLabel2" class="modal-title">Comment and Rate</h4>
										</div>
										<div class="modal-body">
											<form action="../assets/php/demo-order.php" method="post" enctype="multipart/form-data" id="sky-form2" class="sky-form">
                  
                    <fieldset>
                        
                        
                    
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="name" id="name" placeholder="Your name">
                            </label>
                        </section>
                        
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" id="email" placeholder="Your e-mail">
                            </label>
                        </section>
                        <section>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="5" name="comment" placeholder="write your comment here"></textarea>
                            </label>
                        </section>       
                                  <section>
                            
                            <div class="rating">
                                <input type="radio" name="overall" id="overall-5">
                                <label for="overall-5"><i class="fa fa-star"></i></label>
                                <input type="radio" name="overall" id="overall-4">
                                <label for="overall-4"><i class="fa fa-star"></i></label>
                                <input type="radio" name="overall" id="overall-3">
                                <label for="overall-3"><i class="fa fa-star"></i></label>
                                <input type="radio" name="overall" id="overall-2">
                                <label for="overall-2"><i class="fa fa-star"></i></label>
                                <input type="radio" name="overall" id="overall-1">
                                <label for="overall-1"><i class="fa fa-star"></i></label>
                                Overall rating
                            </div>
                        </section> 
                         <footer>
                        <input type="button" value = "Submit Comment" class="btn-u" onclick="window.location.href='editActivity.html';">
                    </footer>
                    </fieldset>
                    
                </form>         
										</div>
									</div>
								</div>
							</div>
							<!-- Large modal -->
								
							</div>
						</div>
					</div>
				</div>
				<!-- End Profile Content -->
			</div>
		</div>
		<!--=== End Profile ===-->
  
		<!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            Finddy 2015 &copy; All Rights Reserved
                        </p >
                    </div>
                </div>
            </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->

	
	<!--=== End Style Switcher ===-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="js/back-to-top.js"></script>
	<script type="text/javascript" src="js/smoothScroll.js"></script>
	<script type="text/javascript" src="js/circles.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/datepicker.js"></script>
	<script type="text/javascript" src="js/circles-master.js"></script>
	<script type="text/javascript" src="js/style-switcher.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			App.initScrollBar();
			Datepicker.initDatepicker();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
</body>
</html>
