<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html dir="rtl" lang="en"> <!--<![endif]-->  
<head>
    <title>Blank Page | Unify - Responsive Website Template</title>    

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../follow_git/public/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="../../follow_git/public/css/style-rtl.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="css/header-default-rtl.css">
    <link rel="stylesheet" href="css/footer-v1-rtl.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/line-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">    

    <!-- Style Switcher -->
    <link rel="stylesheet" href="css/style-switcher.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="css/default.css" id="style_color">

    <!-- RTL Customization -->
    <link rel="stylesheet" href="css/rtl.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="css/custom-rtl.css">
</head>	

<body>

<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="profile.html">
                <img src="../../follow_git/public/img/finddy_logo.JPG" alt="Logo">
            </a>
            <!-- End Logo -->
            
            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    
                    <li class="topbar-devider"></li>   
                    <li><a href="login.html">Login</a></li>   
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    
                    <!-- End Home -->

                  

                          

                    <!-- Shortcodes -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href='createNew.html';">
                            Post New Activity
                        </a>
                    </li>
                    <!-- End Shortcodes -->

                    <!-- Misc Pages -->
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href='profile.html';">
                            Return to Profile
                        </a>
        
                    </li>                    
                    <!-- End Misc Pages -->

                    <!-- Search Block -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>    
                    </li>
                    <!-- End Search Block -->
                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Blank Page</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="profile.html">home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Blank Page</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content ===-->
    <div class="container content height-500">
        <!-- Write Your HTML Codes Here -->
    </div>
    <!--=== End Content ===-->

    <!--=== Footer Version 1 ===-->
   <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            Finddy 2015 &copy; All Rights Reserved
                        </p >
                    </div>
                </div>
            </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===-->

    
     

<!-- JS Global Compulsory -->			
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="js/back-to-top.js"></script>
<script src="js/smoothScroll.js"></script>
<!-- JS Customization -->
<script src="js/custom.js"></script>
<!-- JS Page Level -->
<script src="js/app.js"></script>
<script src="js/style-switcher-rtl.js"></script>
<script>
    jQuery(document).ready(function() {
      	App.init();
        StyleSwitcher.initStyleSwitcher();      
    });
</script>
<!--[if lt IE 9]>
    <script src="../assets/plugins/respond.js"></script>
    <script src="../assets/plugins/html5shiv.js"></script>
    <script src="../assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>
