<!DOCTYPE html>

<html ng-app='Myapp' ng-controller="searchMain">

<head>

  <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.js"></script> -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

<!-- <script type="text/javascript" src='js/angular.min.js'></script> -->
<!-- <script type="text/javascript" src='js/angular_app.js'></script>
<script type="text/javascript" src="js/searchMain.js"></script> -->
<!-- <script type="text/javascript" src="js/search.js"></script> -->


</head>

<body>
2213
<span ng-bind="activity.length"></span>

<div ng-repeat="d in activity">
  111
  <p>
    <span ng-bind="d.AID"></span>
  </p>
  <p>
    <span ng-bind="d.DESCRIPTION"></span>

  </p>

</div>

</body>
<script>
var app = angular.module('Myapp', []);
app.controller('searchMain', function($scope, $http) {
  return $http.get("data/searchResult.json")
   .then(function (response)
   {
     $scope.activity = response.data;
     console.log($scope.activity[0].DESCRIPTION)

   });
 });

</script>
</html>
