<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html dir="rtl" lang="en"> <!--<![endif]-->
<head>
    <title>Search Activity | Finddy</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- angularJS -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
<link href="https://cdn.bootcss.com/bootstrap-rtl/3.3.4/css/bootstrap-rtl.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style-rtl.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="css/header-default-rtl.css">
    <link rel="stylesheet" href="css/footer-v1-rtl.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/line-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/sky-forms-rtl.css">
    <link rel="stylesheet" href="css/custom-sky-forms-rtl.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="../assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8-rtl.css"><![endif]-->

    <!-- Style Switcher -->
    <link rel="stylesheet" href="css/style-switcher.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="css/default.css" id="style_color">
    <link rel="stylesheet" href="css/dark.css">

    <!-- RTL Customization -->
    <link rel="stylesheet" href="css/rtl.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="css/page_search_inner.css">

    <link rel="stylesheet" href="css/custom-rtl.css">
</head>

<body ng-app="myApp">
  <div ng-controller="myCtrl">

<div class="wrapper">
    <!--=== Header ===-->
        <div class="header">
            <div class="container">
                <!-- Logo -->
                <a class="logo" href="profile">
                    <img src="img/finddy_logo.JPG" alt="Logo">
                </a>
                <!-- End Logo -->

                <!-- Topbar -->
                <div class="topbar">
                    <ul class="loginbar pull-right">
                        <li><a href="signout">Signout</a></li>
                    </ul>
                </div>
                <!-- End Topbar -->

                <!-- Toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <!-- End Toggle -->
            </div><!--/end container-->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container">
                    <ul class="nav navbar-nav">


                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href='createNew.html';">
                            Post New Activity
                            </a>
                        </li>
                        <!-- End Shortcodes -->

                        <!-- Misc Pages -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" onclick="window.location.href='profile.html';">
                            Return to Profile
                            </a>
                        </li>

                        <!-- Search Block -->
                        <li>
                            <a href="search">
                                <i class="search fa fa-search search-btn"></i>
                            </a>
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/end container-->
            </div><!--/navbar-collapse-->
        </div>
        <!--=== End Header ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">


            <!-- Begin Content -->
            <div class="col-md-9">
                <!-- Checkout-Form -->
                <form id="sky-form" method="post" action="/search" class="sky-form">
                    <fieldset>
                        <section>
                            <div class="inline-group">
                              Select an activity type that you want to find:
                                    <input type="radio" name="type" value="B" checked>  Board Game
                                    <input type="radio" name="type" value="M">  Movie
                                    <input type="radio" name="type" value="D">  Dining
                            </div>
                        </section>

                        <!-- Datepicker Forms -->
                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="finish"  id="finish" placeholder="End date">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="start" id="start" placeholder="Start date">
                                </label>
                            </section>
                        </div>
                        <!-- End Datepicker Forms -->

                        <!--Start Time Settings -->
                        <div class="row">
                            <label class="label col col-4">Set Start Time</label>
                            <section class="col col-4">
                                <label class="select">
                                    <select class="minute" name="sminute" >
                                        <option value="12" selected disabled>Minute</option>
                                        <option value="05">05</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                        <option value="30">30</option>
                                        <option value="35">35</option>
                                        <option value="40">40</option>
                                        <option value="45">45</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        <option value="00">00</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="select">
                                    <select class="hour" name="shour" >
                                        <option value="1" selected disabled>Hour</option>
                                        <option value="00">00</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                        </div>
                        <!-- End Start Time Settings-->

                        <!-- End Time Settings -->
                        <div class="row">
                            <label class="label col col-4">Set End Time</label>
                            <section class="col col-4">
                                <label class="select">
                                    <select class="minute" name="eminute" >
                                      <option value="12" selected disabled>Minute</option>
                                      <option value="05">05</option>
                                      <option value="10">10</option>
                                      <option value="15">15</option>
                                      <option value="20">20</option>
                                      <option value="25">25</option>
                                      <option value="30">30</option>
                                      <option value="35">35</option>
                                      <option value="40">40</option>
                                      <option value="45">45</option>
                                      <option value="50">50</option>
                                      <option value="55">55</option>
                                      <option value="00">00</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="select">
                                    <select class="hour" name="ehour">
                                        <option value="1" selected disabled>Hour</option>
                                        <option value="1">00</option>
                                        <option value="2">01</option>
                                        <option value="3">02</option>
                                        <option value="4">03</option>
                                        <option value="5">04</option>
                                        <option value="6">05</option>
                                        <option value="7">06</option>
                                        <option value="8">07</option>
                                        <option value="9">08</option>
                                        <option value="10">09</option>
                                        <option value="11">10</option>
                                        <option value="12">11</option>
                                        <option value="13">12</option>
                                        <option value="14">13</option>
                                        <option value="15">14</option>
                                        <option value="16">15</option>
                                        <option value="17">16</option>
                                        <option value="18">17</option>
                                        <option value="19">18</option>
                                        <option value="20">19</option>
                                        <option value="21">20</option>
                                        <option value="22">21</option>
                                        <option value="23">22</option>
                                        <option value="24">23</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                        </div>
                        <!-- End End Time Settings-->
                    </fieldset>
                    <footer>
                    <button type="submit" class="btn-u" id="search">Search</button>
                  </footer>

                </form>
                <!-- End Checkout-Form -->
            </div>
            <!-- End Content -->
        </div>
<!-- searchresult -->
        <div ng-show="detail.length">
        <div class='searchMain'>
    		<div class="container s-results margin-bottom-50">
    			<h3><span class="results-number">About <span ng-bind="detail.length"></span> results</span></h3>
    			<!-- Begin Inner Results -->
    			<div class="inner-results" ng-repeat="i in detail">
    				<h3><a href="#"></a><span ng-bind="i.DESCRIPTION"></span> @<span ng-bind="i.LOCATION"></span>
    				</h3>
    				<p>
    					User <span ng-bind="i.CREATOR_ID"></span> asks you to join <span ng-bind="i.DESCRIPTION"></span>  at <span ng-bind="i.START_TIME"></span>.
    					It's such a hit that <span ng-bind="i.NO_OF_JOINERS"></span> out of <span ng-bind="i.QUOTA"></span> quota HAVE BEEN POSSESSED!
    				</p>
            <b>rate:</b><h4><span ng-bind="i.RATING"></h4>
    			</div>
    			<!-- Begin Inner Results -->

    			<hr>


    			<!-- Begin Inner Results -->

    		</div>
    	</div>
    </div>

    <!--/container-->
    		<!--=== End Search Results ===-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Finddy 2017 &copy; All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/End Wrapepr-->
</div>

<!-- JS Global Compulsory -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="js/back-to-top.js"></script>
<script src="js/smoothScroll.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.form.min.js"></script>
<!-- JS Customization -->
<script src="js/custom.js"></script>
<!-- JS Page Level -->
<script src="js/app.js"></script>
<script src="js/style-switcher-rtl.js"></script>
<script src="js/order.js"></script>
<script src="js/review.js"></script>
<script src="js/checkout.js"></script>
<script src="js/masking.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/validation.js"></script>
<script src="js/style-switcher-rtl.js"></script>
<script>
    jQuery(document).ready(function() {
        App.init();
        Masking.initMasking();
        Datepicker.initDatepicker();
        Validation.initValidation();
        OrderForm.initOrderForm();
        ReviewForm.initReviewForm();
        CheckoutForm.initCheckoutForm();
        StyleSwitcher.initStyleSwitcher();
    });
</script>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http, $window) {
  //   $scope.searchResult=function(){
  //     $http({
  //       url: '/search/result',
  //       type: 'GET'
  //     }).then(function(result) {
  //       $scope.detail = result.data;
  //       console.log($scope.detail);
   //
  //  })
  //   }
  $scope.detail=<%- result%>
  console.log( $scope.detail);
});
</script>

<!--[if lt IE 9]>
    <script src="../assets/plugins/respond.js"></script>
    <script src="../assets/plugins/html5shiv.js"></script>
    <script src="../assets/plugins/placeholder-IE-fixes.js"></script>
    <script src="../assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
    <script src="../assets/plugins/sky-forms/version-2.0.1/js/jquery.placeholder.min.js"></script>
<![endif]-->

</body>

</html>
